

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "auth_logic";


ALTER SCHEMA "auth_logic" OWNER TO "postgres";


CREATE TYPE "auth_logic"."deployment_status" AS ENUM (
    'pending',
    'validating',
    'deploying',
    'building',
    'running',
    'failed',
    'cancelled',
    'stopped'
);


ALTER TYPE "auth_logic"."deployment_status" OWNER TO "postgres";


CREATE TYPE "auth_logic"."health_status" AS ENUM (
    'unknown',
    'healthy',
    'unhealthy',
    'degraded'
);


ALTER TYPE "auth_logic"."health_status" OWNER TO "postgres";


CREATE TYPE "auth_logic"."railway_environment" AS ENUM (
    'production',
    'staging',
    'development'
);


ALTER TYPE "auth_logic"."railway_environment" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."auth_uid"() RETURNS "uuid"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$
  SELECT auth.uid();
$$;


ALTER FUNCTION "auth_logic"."auth_uid"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."calculate_qualification_score"("p_answers" "jsonb") RETURNS integer
    LANGUAGE "plpgsql" IMMUTABLE
    AS $$
DECLARE
    score INTEGER := 0;
BEGIN
    -- Use case scoring
    IF p_answers->>'use_case' IN ('Startup', 'Enterprise') THEN
        score := score + 2;
    END IF;
    
    -- Technical level scoring
    IF (p_answers->>'technical_level')::INTEGER >= 3 THEN
        score := score + 1;
    END IF;
    
    -- Timeline scoring
    IF p_answers->>'timeline' IN ('This week', 'This month') THEN
        score := score + 2;
    END IF;
    
    RETURN score;
END;
$$;


ALTER FUNCTION "auth_logic"."calculate_qualification_score"("p_answers" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."get_deployment_trial_status"("p_deployment_id" "uuid") RETURNS TABLE("is_trial" boolean, "trial_end" timestamp with time zone, "days_remaining" integer, "converted" boolean)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        true AS is_trial,
        dt.trial_end,
        GREATEST(0, EXTRACT(DAY FROM dt.trial_end - NOW())::INTEGER) AS days_remaining,
        dt.converted
    FROM auth_logic.deployment_trials dt
    WHERE dt.deployment_id = p_deployment_id
    LIMIT 1;
END;
$$;


ALTER FUNCTION "auth_logic"."get_deployment_trial_status"("p_deployment_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."get_user_role"() RETURNS TABLE("role" "public"."user_role", "is_active" boolean, "granted_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN QUERY
    SELECT ur.role, ur.is_active, ur.granted_at
    FROM auth_logic.user_roles ur
    WHERE ur.user_id = auth.uid() AND ur.is_active = TRUE;
END;
$$;


ALTER FUNCTION "auth_logic"."get_user_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
BEGIN
  INSERT INTO auth_logic.user_profiles (id, email, created_at, last_sign_in_at, email_confirmed_at, raw_user_meta_data)
  VALUES (
    NEW.id,
    NEW.email,
    NEW.created_at,
    NEW.last_sign_in_at,
    NEW.email_confirmed_at,
    NEW.raw_user_meta_data
  );
  RETURN NEW;
END;
$$;


ALTER FUNCTION "auth_logic"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."handle_user_update"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
BEGIN
  UPDATE auth_logic.user_profiles 
  SET 
    email = NEW.email,
    updated_at = now(),
    last_sign_in_at = NEW.last_sign_in_at,
    email_confirmed_at = NEW.email_confirmed_at,
    raw_user_meta_data = NEW.raw_user_meta_data
  WHERE id = NEW.id;
  RETURN NEW;
END;
$$;


ALTER FUNCTION "auth_logic"."handle_user_update"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."has_active_trial"("p_user_id" "uuid") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 
        FROM auth_logic.deployment_trials 
        WHERE user_id = p_user_id 
        AND trial_end > NOW() 
        AND converted = false
    );
END;
$$;


ALTER FUNCTION "auth_logic"."has_active_trial"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."has_permission"("permission_name" "text") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM auth_logic.user_roles ur
        JOIN auth_logic.role_permissions rp ON ur.role = rp.role
        JOIN auth_logic.admin_permissions ap ON rp.permission_id = ap.id
        WHERE ur.user_id = auth.uid() 
        AND ur.is_active = TRUE
        AND ap.permission_name = has_permission.permission_name
    );
END;
$$;


ALTER FUNCTION "auth_logic"."has_permission"("permission_name" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."is_admin"() RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM auth_logic.user_roles ur 
        WHERE ur.user_id = auth.uid() 
        AND ur.role IN ('admin', 'super_admin') 
        AND ur.is_active = TRUE
    );
END;
$$;


ALTER FUNCTION "auth_logic"."is_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."is_trial_deployment"("p_deployment_id" "uuid") RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 
        FROM auth_logic.deployment_trials 
        WHERE deployment_id = p_deployment_id
    );
END;
$$;


ALTER FUNCTION "auth_logic"."is_trial_deployment"("p_deployment_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."uid"() RETURNS "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    AS $$
  SELECT auth.uid();
$$;


ALTER FUNCTION "auth_logic"."uid"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."update_mcp_servers_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "auth_logic"."update_mcp_servers_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "auth_logic"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "auth_logic"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "auth_logic"."admin_audit_log" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "action" character varying(100) NOT NULL,
    "resource_type" character varying(50),
    "resource_id" character varying(100),
    "details" "jsonb",
    "ip_address" "inet",
    "user_agent" "text",
    "success" boolean DEFAULT true,
    "error_message" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "metadata" "jsonb"
);


ALTER TABLE "auth_logic"."admin_audit_log" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."admin_permissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "permission_name" character varying(100) NOT NULL,
    "description" "text",
    "category" character varying(50) DEFAULT 'general'::character varying,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."admin_permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."agent_deployments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "agent_id" "text" NOT NULL,
    "deployment_id" "uuid" NOT NULL,
    "user_id" "uuid" NOT NULL,
    "mcp_server_name" "text" NOT NULL,
    "attached_tools" "jsonb" DEFAULT '[]'::"jsonb",
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "deleted_at" timestamp with time zone,
    CONSTRAINT "agent_deployments_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'deleted'::"text", 'error'::"text"])))
);


ALTER TABLE "auth_logic"."agent_deployments" OWNER TO "postgres";


COMMENT ON TABLE "auth_logic"."agent_deployments" IS 'Tracks the relationship between Letta agents and MCP server deployments';



COMMENT ON COLUMN "auth_logic"."agent_deployments"."agent_id" IS 'ID of the Letta agent (from Letta service)';



COMMENT ON COLUMN "auth_logic"."agent_deployments"."deployment_id" IS 'ID of the deployment in our system';



COMMENT ON COLUMN "auth_logic"."agent_deployments"."mcp_server_name" IS 'Name of the MCP server in Letta';



COMMENT ON COLUMN "auth_logic"."agent_deployments"."attached_tools" IS 'JSON array of tools attached to the agent';



COMMENT ON COLUMN "auth_logic"."agent_deployments"."status" IS 'Status of the agent deployment relationship';



CREATE TABLE IF NOT EXISTS "auth_logic"."api_usage" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "deployment_id" "uuid",
    "endpoint" "text" NOT NULL,
    "method" "text" NOT NULL,
    "status_code" integer,
    "response_time_ms" integer,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."api_usage" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."deployment_logs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "deployment_id" "uuid" NOT NULL,
    "log_level" "text" NOT NULL,
    "message" "text" NOT NULL,
    "metadata" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "deployment_logs_log_level_check" CHECK (("log_level" = ANY (ARRAY['info'::"text", 'warn'::"text", 'error'::"text", 'debug'::"text"])))
);


ALTER TABLE "auth_logic"."deployment_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."deployment_server_configs" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "deployment_id" "uuid" NOT NULL,
    "server_template_id" "uuid" NOT NULL,
    "github_repo" "text" NOT NULL,
    "github_branch" "text" NOT NULL,
    "env_vars" "jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."deployment_server_configs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."deployment_trials" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "deployment_id" "uuid",
    "trial_application_id" "uuid",
    "trial_start" timestamp with time zone DEFAULT "now"(),
    "trial_end" timestamp with time zone DEFAULT ("now"() + '7 days'::interval),
    "converted" boolean DEFAULT false,
    "conversion_value" numeric,
    "conversion_date" timestamp with time zone
);


ALTER TABLE "auth_logic"."deployment_trials" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."deployments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "railway_project_id" "uuid",
    "deployment_name" "text" NOT NULL,
    "status" "auth_logic"."deployment_status" DEFAULT 'pending'::"auth_logic"."deployment_status",
    "emailbison_config" "jsonb",
    "base_url" "text",
    "railway_service_id" "text",
    "railway_deployment_id" "text",
    "connection_string" "text",
    "service_url" "text",
    "health_check_url" "text",
    "build_logs" "text",
    "error_message" "text",
    "last_health_check" timestamp with time zone,
    "health_status" "auth_logic"."health_status" DEFAULT 'unknown'::"auth_logic"."health_status",
    "deployed_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "advanced_config" "jsonb" DEFAULT '{}'::"jsonb",
    "environment" "text" DEFAULT 'production'::"text",
    "server_config" "jsonb",
    "server_template_id" "uuid",
    "details_url" "text",
    CONSTRAINT "valid_status_progression" CHECK ((("status" = ANY (ARRAY['pending'::"auth_logic"."deployment_status", 'validating'::"auth_logic"."deployment_status", 'deploying'::"auth_logic"."deployment_status", 'building'::"auth_logic"."deployment_status", 'failed'::"auth_logic"."deployment_status", 'cancelled'::"auth_logic"."deployment_status"])) OR (("status" = ANY (ARRAY['running'::"auth_logic"."deployment_status", 'stopped'::"auth_logic"."deployment_status"])) AND ("railway_service_id" IS NOT NULL))))
);


ALTER TABLE "auth_logic"."deployments" OWNER TO "postgres";


COMMENT ON COLUMN "auth_logic"."deployments"."server_config" IS 'Generic server configuration - replaces emailbison_config';



COMMENT ON COLUMN "auth_logic"."deployments"."server_template_id" IS 'Reference to the server template used for this deployment';



CREATE OR REPLACE VIEW "auth_logic"."deployments_with_trial_status" AS
 SELECT "d"."id",
    "d"."user_id",
    "d"."railway_project_id",
    "d"."deployment_name",
    "d"."status",
    "d"."emailbison_config",
    "d"."base_url",
    "d"."railway_service_id",
    "d"."railway_deployment_id",
    "d"."connection_string",
    "d"."service_url",
    "d"."health_check_url",
    "d"."build_logs",
    "d"."error_message",
    "d"."last_health_check",
    "d"."health_status",
    "d"."deployed_at",
    "d"."created_at",
    "d"."updated_at",
    "d"."advanced_config",
    "d"."environment",
        CASE
            WHEN ("dt"."id" IS NOT NULL) THEN true
            ELSE false
        END AS "is_trial",
    "dt"."trial_end",
    "dt"."converted",
    GREATEST(0, (EXTRACT(day FROM ("dt"."trial_end" - "now"())))::integer) AS "days_remaining"
   FROM ("auth_logic"."deployments" "d"
     LEFT JOIN "auth_logic"."deployment_trials" "dt" ON (("d"."id" = "dt"."deployment_id")));


ALTER TABLE "auth_logic"."deployments_with_trial_status" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."health_checks" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "deployment_id" "uuid" NOT NULL,
    "status" "auth_logic"."health_status" NOT NULL,
    "response_time_ms" integer,
    "status_code" integer,
    "error_message" "text",
    "checked_at" timestamp with time zone DEFAULT "now"(),
    "tools_discovered" integer DEFAULT 0,
    "transport_type" "text",
    "mcp_server_capabilities" "jsonb"
);


ALTER TABLE "auth_logic"."health_checks" OWNER TO "postgres";


COMMENT ON COLUMN "auth_logic"."health_checks"."tools_discovered" IS 'Number of MCP tools discovered during health check';



COMMENT ON COLUMN "auth_logic"."health_checks"."transport_type" IS 'MCP transport type that succeeded (sse, streamable-http, etc.)';



COMMENT ON COLUMN "auth_logic"."health_checks"."mcp_server_capabilities" IS 'MCP server capabilities discovered during connection';



CREATE TABLE IF NOT EXISTS "auth_logic"."letta_identities" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "letta_identity_id" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."letta_identities" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."licenses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "deployment_id" "uuid",
    "license_type" "text",
    "price" numeric NOT NULL,
    "status" "text" DEFAULT 'active'::"text",
    "purchased_at" timestamp with time zone DEFAULT "now"(),
    "expires_at" timestamp with time zone,
    "stripe_payment_id" "text",
    "stripe_subscription_id" "text",
    CONSTRAINT "licenses_license_type_check" CHECK (("license_type" = ANY (ARRAY['server'::"text", 'hosting'::"text"]))),
    CONSTRAINT "licenses_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'expired'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "auth_logic"."licenses" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."mcp_servers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "name" "text" NOT NULL,
    "config" "jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."mcp_servers" OWNER TO "postgres";


COMMENT ON TABLE "auth_logic"."mcp_servers" IS 'Stores MCP server configurations for users.';



COMMENT ON COLUMN "auth_logic"."mcp_servers"."user_id" IS 'The user who owns this server configuration.';



COMMENT ON COLUMN "auth_logic"."mcp_servers"."name" IS 'A unique name for the server configuration for a given user.';



COMMENT ON COLUMN "auth_logic"."mcp_servers"."config" IS 'The JSONB object containing server connection details like URL and transport type.';



CREATE TABLE IF NOT EXISTS "auth_logic"."railway_projects" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "railway_project_id" "text" NOT NULL,
    "project_name" "text" NOT NULL,
    "environment" "auth_logic"."railway_environment" DEFAULT 'production'::"auth_logic"."railway_environment",
    "railway_team_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."railway_projects" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."role_permissions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "role" "public"."user_role" NOT NULL,
    "permission_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."role_permissions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."server_templates" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "display_name" "text" NOT NULL,
    "description" "text",
    "category" "text" DEFAULT 'general'::"text" NOT NULL,
    "github_repo" "text" NOT NULL,
    "github_branch" "text" DEFAULT 'main'::"text",
    "required_env_vars" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "optional_env_vars" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "port" integer DEFAULT 3000,
    "healthcheck_path" "text" DEFAULT '/health'::"text",
    "build_command" "text",
    "start_command" "text",
    "min_memory_mb" integer DEFAULT 512,
    "min_cpu_cores" numeric(2,1) DEFAULT 0.5,
    "estimated_cost_usd" "text",
    "icon_url" "text",
    "documentation_url" "text",
    "example_config" "jsonb",
    "tags" "text"[] DEFAULT '{}'::"text"[],
    "is_active" boolean DEFAULT true,
    "is_featured" boolean DEFAULT false,
    "requires_approval" boolean DEFAULT false,
    "allowed_user_ids" "uuid"[] DEFAULT '{}'::"uuid"[],
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "created_by" "uuid",
    "default_transport_type" "text" DEFAULT 'streamable-http'::"text",
    "details_url" "text",
    CONSTRAINT "server_templates_default_transport_type_check" CHECK (("default_transport_type" = ANY (ARRAY['sse'::"text", 'streamable-http'::"text", 'http'::"text"])))
);


ALTER TABLE "auth_logic"."server_templates" OWNER TO "postgres";


COMMENT ON COLUMN "auth_logic"."server_templates"."default_transport_type" IS 'Default MCP transport type for this server template. Based on reliability data, streamable-http is most successful.';



CREATE TABLE IF NOT EXISTS "auth_logic"."trial_applications" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid",
    "mcp_server_type" "text" NOT NULL,
    "qualification_answers" "jsonb" NOT NULL,
    "status" "text" DEFAULT 'pending'::"text",
    "applied_at" timestamp with time zone DEFAULT "now"(),
    "reviewed_at" timestamp with time zone,
    "reviewed_by" "uuid",
    "rejection_reason" "text",
    "form_configuration_id" "uuid",
    "admin_score" integer,
    "admin_notes" "text",
    "auto_approved" boolean DEFAULT false,
    "agent_id" "text",
    CONSTRAINT "trial_applications_admin_score_check" CHECK ((("admin_score" >= 0) AND ("admin_score" <= 10))),
    CONSTRAINT "trial_applications_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'approved'::"text", 'rejected'::"text"])))
);


ALTER TABLE "auth_logic"."trial_applications" OWNER TO "postgres";


COMMENT ON COLUMN "auth_logic"."trial_applications"."form_configuration_id" IS 'References the form configuration used for this application';



COMMENT ON COLUMN "auth_logic"."trial_applications"."admin_score" IS 'Manual score assigned by admin (0-10)';



COMMENT ON COLUMN "auth_logic"."trial_applications"."admin_notes" IS 'Admin notes for approval/rejection decision';



COMMENT ON COLUMN "auth_logic"."trial_applications"."auto_approved" IS 'Whether this application was auto-approved by system rules';



COMMENT ON COLUMN "auth_logic"."trial_applications"."agent_id" IS 'Letta agent ID created when user submits trial application';



CREATE TABLE IF NOT EXISTS "auth_logic"."trial_approval_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "setting_name" character varying(255) NOT NULL,
    "setting_value" "jsonb" NOT NULL,
    "description" "text",
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_by" "uuid"
);


ALTER TABLE "auth_logic"."trial_approval_settings" OWNER TO "postgres";


COMMENT ON TABLE "auth_logic"."trial_approval_settings" IS 'Stores approval settings and rules for trial applications';



COMMENT ON COLUMN "auth_logic"."trial_approval_settings"."setting_name" IS 'Unique identifier for the setting';



COMMENT ON COLUMN "auth_logic"."trial_approval_settings"."setting_value" IS 'JSON configuration for the setting';



CREATE TABLE IF NOT EXISTS "auth_logic"."trial_form_configurations" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(255) NOT NULL,
    "description" "text",
    "questions" "jsonb" DEFAULT '[]'::"jsonb" NOT NULL,
    "is_active" boolean DEFAULT false NOT NULL,
    "version" integer DEFAULT 1 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "timezone"('utc'::"text", "now"()) NOT NULL,
    "created_by" "uuid",
    "updated_by" "uuid"
);


ALTER TABLE "auth_logic"."trial_form_configurations" OWNER TO "postgres";


COMMENT ON TABLE "auth_logic"."trial_form_configurations" IS 'Stores dynamic form configurations for trial applications';



COMMENT ON COLUMN "auth_logic"."trial_form_configurations"."questions" IS 'JSON array of form questions with validation rules';



COMMENT ON COLUMN "auth_logic"."trial_form_configurations"."is_active" IS 'Only one configuration can be active at a time';



COMMENT ON COLUMN "auth_logic"."trial_form_configurations"."version" IS 'Version number for tracking form changes';



CREATE OR REPLACE VIEW "auth_logic"."trial_funnel_metrics" AS
 WITH "user_signups" AS (
         SELECT "count"(*) AS "total_signups",
            "count"(
                CASE
                    WHEN ("users"."created_at" > ("now"() - '7 days'::interval)) THEN 1
                    ELSE NULL::integer
                END) AS "signups_7d",
            "count"(
                CASE
                    WHEN ("users"."created_at" > ("now"() - '30 days'::interval)) THEN 1
                    ELSE NULL::integer
                END) AS "signups_30d"
           FROM "auth"."users"
        ), "applications" AS (
         SELECT "count"(*) AS "total_applications",
            "count"(
                CASE
                    WHEN ("trial_applications"."status" = 'pending'::"text") THEN 1
                    ELSE NULL::integer
                END) AS "pending",
            "count"(
                CASE
                    WHEN ("trial_applications"."status" = 'approved'::"text") THEN 1
                    ELSE NULL::integer
                END) AS "approved",
            "count"(
                CASE
                    WHEN ("trial_applications"."applied_at" > ("now"() - '7 days'::interval)) THEN 1
                    ELSE NULL::integer
                END) AS "applications_7d"
           FROM "auth_logic"."trial_applications"
        ), "trials" AS (
         SELECT "count"(*) AS "total_trials",
            "count"(
                CASE
                    WHEN (("deployment_trials"."trial_end" > "now"()) AND ("deployment_trials"."converted" = false)) THEN 1
                    ELSE NULL::integer
                END) AS "active_trials",
            "count"(
                CASE
                    WHEN ("deployment_trials"."converted" = true) THEN 1
                    ELSE NULL::integer
                END) AS "conversions",
            "avg"(
                CASE
                    WHEN ("deployment_trials"."converted" = true) THEN "deployment_trials"."conversion_value"
                    ELSE NULL::numeric
                END) AS "avg_conversion_value"
           FROM "auth_logic"."deployment_trials"
        )
 SELECT "us"."total_signups",
    "us"."signups_7d",
    "us"."signups_30d",
    "a"."total_applications",
    "a"."pending" AS "pending_applications",
    "a"."approved" AS "approved_applications",
    "a"."applications_7d",
    "t"."total_trials",
    "t"."active_trials",
    "t"."conversions",
    "t"."avg_conversion_value",
        CASE
            WHEN ("us"."total_signups" > 0) THEN "round"(((("a"."total_applications")::numeric / ("us"."total_signups")::numeric) * (100)::numeric), 2)
            ELSE (0)::numeric
        END AS "application_rate",
        CASE
            WHEN ("a"."total_applications" > 0) THEN "round"(((("t"."total_trials")::numeric / ("a"."total_applications")::numeric) * (100)::numeric), 2)
            ELSE (0)::numeric
        END AS "trial_rate",
        CASE
            WHEN ("t"."total_trials" > 0) THEN "round"(((("t"."conversions")::numeric / ("t"."total_trials")::numeric) * (100)::numeric), 2)
            ELSE (0)::numeric
        END AS "conversion_rate"
   FROM "user_signups" "us",
    "applications" "a",
    "trials" "t";


ALTER TABLE "auth_logic"."trial_funnel_metrics" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."user_profiles" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "last_sign_in_at" timestamp with time zone,
    "email_confirmed_at" timestamp with time zone,
    "raw_user_meta_data" "jsonb" DEFAULT '{}'::"jsonb"
);


ALTER TABLE "auth_logic"."user_profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."user_quotas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "deployment_quota" integer DEFAULT 5,
    "api_quota" integer DEFAULT 1000,
    "current_deployments" integer DEFAULT 0,
    "current_api_usage" integer DEFAULT 0,
    "quota_reset_date" timestamp with time zone DEFAULT ("now"() + '1 mon'::interval),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."user_quotas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."user_roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" "public"."user_role" DEFAULT 'user'::"public"."user_role" NOT NULL,
    "granted_by" "uuid",
    "granted_at" timestamp with time zone DEFAULT "now"(),
    "expires_at" timestamp with time zone,
    "is_active" boolean DEFAULT true,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."user_roles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "auth_logic"."user_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "setting_type" "text" NOT NULL,
    "settings" "jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "auth_logic"."user_settings" OWNER TO "postgres";


ALTER TABLE ONLY "auth_logic"."admin_audit_log"
    ADD CONSTRAINT "admin_audit_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."admin_permissions"
    ADD CONSTRAINT "admin_permissions_permission_name_key" UNIQUE ("permission_name");



ALTER TABLE ONLY "auth_logic"."admin_permissions"
    ADD CONSTRAINT "admin_permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."agent_deployments"
    ADD CONSTRAINT "agent_deployments_deployment_id_key" UNIQUE ("deployment_id");



ALTER TABLE ONLY "auth_logic"."agent_deployments"
    ADD CONSTRAINT "agent_deployments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."api_usage"
    ADD CONSTRAINT "api_usage_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."deployment_logs"
    ADD CONSTRAINT "deployment_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."deployment_server_configs"
    ADD CONSTRAINT "deployment_server_configs_deployment_id_key" UNIQUE ("deployment_id");



ALTER TABLE ONLY "auth_logic"."deployment_server_configs"
    ADD CONSTRAINT "deployment_server_configs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."deployment_trials"
    ADD CONSTRAINT "deployment_trials_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."deployments"
    ADD CONSTRAINT "deployments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."health_checks"
    ADD CONSTRAINT "health_checks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."letta_identities"
    ADD CONSTRAINT "letta_identities_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."licenses"
    ADD CONSTRAINT "licenses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."mcp_servers"
    ADD CONSTRAINT "mcp_servers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."mcp_servers"
    ADD CONSTRAINT "mcp_servers_user_id_name_key" UNIQUE ("user_id", "name");



ALTER TABLE ONLY "auth_logic"."railway_projects"
    ADD CONSTRAINT "railway_projects_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."railway_projects"
    ADD CONSTRAINT "railway_projects_railway_project_id_key" UNIQUE ("railway_project_id");



ALTER TABLE ONLY "auth_logic"."role_permissions"
    ADD CONSTRAINT "role_permissions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."role_permissions"
    ADD CONSTRAINT "role_permissions_role_permission_id_key" UNIQUE ("role", "permission_id");



ALTER TABLE ONLY "auth_logic"."server_templates"
    ADD CONSTRAINT "server_templates_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."trial_applications"
    ADD CONSTRAINT "trial_applications_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."trial_approval_settings"
    ADD CONSTRAINT "trial_approval_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."trial_approval_settings"
    ADD CONSTRAINT "trial_approval_settings_setting_name_key" UNIQUE ("setting_name");



ALTER TABLE ONLY "auth_logic"."trial_form_configurations"
    ADD CONSTRAINT "trial_form_configurations_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."deployments"
    ADD CONSTRAINT "unique_user_deployment_name" UNIQUE ("user_id", "deployment_name");



ALTER TABLE ONLY "auth_logic"."letta_identities"
    ADD CONSTRAINT "unique_user_id" UNIQUE ("user_id");



ALTER TABLE ONLY "auth_logic"."user_profiles"
    ADD CONSTRAINT "user_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."user_quotas"
    ADD CONSTRAINT "user_quotas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."user_quotas"
    ADD CONSTRAINT "user_quotas_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "auth_logic"."user_roles"
    ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_role_key" UNIQUE ("user_id", "role") DEFERRABLE INITIALLY DEFERRED;



ALTER TABLE ONLY "auth_logic"."user_settings"
    ADD CONSTRAINT "user_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "auth_logic"."user_settings"
    ADD CONSTRAINT "user_settings_user_id_setting_type_key" UNIQUE ("user_id", "setting_type");



CREATE INDEX "idx_admin_audit_log_created_at" ON "auth_logic"."admin_audit_log" USING "btree" ("created_at");



CREATE INDEX "idx_admin_audit_log_user_id" ON "auth_logic"."admin_audit_log" USING "btree" ("user_id");



CREATE INDEX "idx_agent_deployments_agent_id" ON "auth_logic"."agent_deployments" USING "btree" ("agent_id");



CREATE INDEX "idx_agent_deployments_deployment_id" ON "auth_logic"."agent_deployments" USING "btree" ("deployment_id");



CREATE INDEX "idx_agent_deployments_mcp_server_name" ON "auth_logic"."agent_deployments" USING "btree" ("mcp_server_name");



CREATE INDEX "idx_agent_deployments_status" ON "auth_logic"."agent_deployments" USING "btree" ("status");



CREATE INDEX "idx_agent_deployments_user_id" ON "auth_logic"."agent_deployments" USING "btree" ("user_id");



CREATE INDEX "idx_licenses_deployment" ON "auth_logic"."licenses" USING "btree" ("deployment_id");



CREATE INDEX "idx_licenses_status" ON "auth_logic"."licenses" USING "btree" ("status", "expires_at");



CREATE INDEX "idx_licenses_user" ON "auth_logic"."licenses" USING "btree" ("user_id", "status");



CREATE INDEX "idx_role_permissions_role" ON "auth_logic"."role_permissions" USING "btree" ("role");



CREATE INDEX "idx_server_templates_active" ON "auth_logic"."server_templates" USING "btree" ("is_active");



CREATE INDEX "idx_server_templates_category" ON "auth_logic"."server_templates" USING "btree" ("category");



CREATE INDEX "idx_server_templates_tags" ON "auth_logic"."server_templates" USING "gin" ("tags");



CREATE INDEX "idx_trial_applications_agent_id" ON "auth_logic"."trial_applications" USING "btree" ("agent_id");



CREATE INDEX "idx_trial_applications_form_configuration_id" ON "auth_logic"."trial_applications" USING "btree" ("form_configuration_id");



CREATE INDEX "idx_trial_approval_settings_setting_name" ON "auth_logic"."trial_approval_settings" USING "btree" ("setting_name");



CREATE INDEX "idx_trial_approval_settings_updated_at" ON "auth_logic"."trial_approval_settings" USING "btree" ("updated_at");



CREATE INDEX "idx_trial_apps_status" ON "auth_logic"."trial_applications" USING "btree" ("status", "applied_at");



CREATE INDEX "idx_trial_apps_user" ON "auth_logic"."trial_applications" USING "btree" ("user_id");



CREATE INDEX "idx_trial_form_configurations_created_at" ON "auth_logic"."trial_form_configurations" USING "btree" ("created_at");



CREATE INDEX "idx_trial_form_configurations_created_by" ON "auth_logic"."trial_form_configurations" USING "btree" ("created_by");



CREATE INDEX "idx_trial_form_configurations_is_active" ON "auth_logic"."trial_form_configurations" USING "btree" ("is_active");



CREATE UNIQUE INDEX "idx_trial_form_configurations_unique_active" ON "auth_logic"."trial_form_configurations" USING "btree" ("is_active") WHERE ("is_active" = true);



CREATE INDEX "idx_trials_conversion" ON "auth_logic"."deployment_trials" USING "btree" ("converted", "trial_end");



CREATE INDEX "idx_trials_deployment" ON "auth_logic"."deployment_trials" USING "btree" ("deployment_id");



CREATE INDEX "idx_trials_expiring" ON "auth_logic"."deployment_trials" USING "btree" ("trial_end") WHERE ("converted" = false);



CREATE INDEX "idx_trials_user" ON "auth_logic"."deployment_trials" USING "btree" ("user_id");



CREATE INDEX "idx_user_profiles_created_at" ON "auth_logic"."user_profiles" USING "btree" ("created_at");



CREATE INDEX "idx_user_profiles_email" ON "auth_logic"."user_profiles" USING "btree" ("email");



CREATE INDEX "idx_user_roles_role_active" ON "auth_logic"."user_roles" USING "btree" ("role", "is_active");



CREATE INDEX "idx_user_roles_user_id" ON "auth_logic"."user_roles" USING "btree" ("user_id");



CREATE INDEX "idx_user_settings_user_id_type" ON "auth_logic"."user_settings" USING "btree" ("user_id", "setting_type");



CREATE UNIQUE INDEX "unique_pending_application" ON "auth_logic"."trial_applications" USING "btree" ("user_id") WHERE ("status" = 'pending'::"text");



CREATE OR REPLACE TRIGGER "update_agent_deployments_updated_at" BEFORE UPDATE ON "auth_logic"."agent_deployments" FOR EACH ROW EXECUTE FUNCTION "auth_logic"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_mcp_servers_updated_at" BEFORE UPDATE ON "auth_logic"."mcp_servers" FOR EACH ROW EXECUTE FUNCTION "auth_logic"."update_mcp_servers_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_server_templates_updated_at" BEFORE UPDATE ON "auth_logic"."server_templates" FOR EACH ROW EXECUTE FUNCTION "auth_logic"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_trial_approval_settings_updated_at" BEFORE UPDATE ON "auth_logic"."trial_approval_settings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_trial_form_configurations_updated_at" BEFORE UPDATE ON "auth_logic"."trial_form_configurations" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_roles_updated_at" BEFORE UPDATE ON "auth_logic"."user_roles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "auth_logic"."admin_audit_log"
    ADD CONSTRAINT "admin_audit_log_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "auth_logic"."agent_deployments"
    ADD CONSTRAINT "agent_deployments_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."agent_deployments"
    ADD CONSTRAINT "agent_deployments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."api_usage"
    ADD CONSTRAINT "api_usage_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "auth_logic"."api_usage"
    ADD CONSTRAINT "api_usage_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployment_logs"
    ADD CONSTRAINT "deployment_logs_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployment_server_configs"
    ADD CONSTRAINT "deployment_server_configs_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployment_server_configs"
    ADD CONSTRAINT "deployment_server_configs_server_template_id_fkey" FOREIGN KEY ("server_template_id") REFERENCES "auth_logic"."server_templates"("id");



ALTER TABLE ONLY "auth_logic"."deployment_trials"
    ADD CONSTRAINT "deployment_trials_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployment_trials"
    ADD CONSTRAINT "deployment_trials_trial_application_id_fkey" FOREIGN KEY ("trial_application_id") REFERENCES "auth_logic"."trial_applications"("id");



ALTER TABLE ONLY "auth_logic"."deployment_trials"
    ADD CONSTRAINT "deployment_trials_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployments"
    ADD CONSTRAINT "deployments_railway_project_id_fkey" FOREIGN KEY ("railway_project_id") REFERENCES "auth_logic"."railway_projects"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."deployments"
    ADD CONSTRAINT "deployments_server_template_id_fkey" FOREIGN KEY ("server_template_id") REFERENCES "auth_logic"."server_templates"("id");



ALTER TABLE ONLY "auth_logic"."deployments"
    ADD CONSTRAINT "deployments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."health_checks"
    ADD CONSTRAINT "health_checks_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."letta_identities"
    ADD CONSTRAINT "letta_identities_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."licenses"
    ADD CONSTRAINT "licenses_deployment_id_fkey" FOREIGN KEY ("deployment_id") REFERENCES "auth_logic"."deployments"("id");



ALTER TABLE ONLY "auth_logic"."licenses"
    ADD CONSTRAINT "licenses_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."mcp_servers"
    ADD CONSTRAINT "mcp_servers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."railway_projects"
    ADD CONSTRAINT "railway_projects_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."role_permissions"
    ADD CONSTRAINT "role_permissions_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "auth_logic"."admin_permissions"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."server_templates"
    ADD CONSTRAINT "server_templates_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "auth_logic"."trial_applications"
    ADD CONSTRAINT "trial_applications_form_configuration_id_fkey" FOREIGN KEY ("form_configuration_id") REFERENCES "auth_logic"."trial_form_configurations"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "auth_logic"."trial_applications"
    ADD CONSTRAINT "trial_applications_reviewed_by_fkey" FOREIGN KEY ("reviewed_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "auth_logic"."trial_applications"
    ADD CONSTRAINT "trial_applications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."trial_approval_settings"
    ADD CONSTRAINT "trial_approval_settings_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "auth_logic"."trial_form_configurations"
    ADD CONSTRAINT "trial_form_configurations_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "auth_logic"."trial_form_configurations"
    ADD CONSTRAINT "trial_form_configurations_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "auth_logic"."user_profiles"
    ADD CONSTRAINT "user_profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."user_quotas"
    ADD CONSTRAINT "user_quotas_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."user_roles"
    ADD CONSTRAINT "user_roles_granted_by_fkey" FOREIGN KEY ("granted_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "auth_logic"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "auth_logic"."user_settings"
    ADD CONSTRAINT "user_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can create deployment trials" ON "auth_logic"."deployment_trials" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can create licenses" ON "auth_logic"."licenses" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can create trial applications for any user" ON "auth_logic"."trial_applications" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can manage all deployments" ON "auth_logic"."deployments" USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can manage all railway projects" ON "auth_logic"."railway_projects" USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can manage all user quotas" ON "auth_logic"."user_quotas" USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can manage templates" ON "auth_logic"."server_templates" USING ("auth_logic"."is_admin"()) WITH CHECK ("auth_logic"."is_admin"());



CREATE POLICY "Admins can read all profiles" ON "auth_logic"."user_profiles" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "Admins can update deployment trials" ON "auth_logic"."deployment_trials" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can update licenses" ON "auth_logic"."licenses" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can update trial applications" ON "auth_logic"."trial_applications" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can view all api usage" ON "auth_logic"."api_usage" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all audit logs" ON "auth_logic"."admin_audit_log" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all deployment logs" ON "auth_logic"."deployment_logs" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all deployment trials" ON "auth_logic"."deployment_trials" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can view all deployments" ON "auth_logic"."deployments" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all health checks" ON "auth_logic"."health_checks" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all licenses" ON "auth_logic"."licenses" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can view all railway projects" ON "auth_logic"."railway_projects" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all trial applications" ON "auth_logic"."trial_applications" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles"
  WHERE (("user_roles"."user_id" = "auth"."uid"()) AND ("user_roles"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("user_roles"."is_active" = true)))));



CREATE POLICY "Admins can view all user quotas" ON "auth_logic"."user_quotas" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view all user roles" ON "auth_logic"."user_roles" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view permissions" ON "auth_logic"."admin_permissions" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "Admins can view role permissions" ON "auth_logic"."role_permissions" FOR SELECT USING ("auth_logic"."is_admin"());



CREATE POLICY "All authenticated users can insert audit logs" ON "auth_logic"."admin_audit_log" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Public can view active templates" ON "auth_logic"."server_templates" FOR SELECT USING ((("is_active" = true) AND (("allowed_user_ids" = '{}'::"uuid"[]) OR ("auth"."uid"() = ANY ("allowed_user_ids")))));



CREATE POLICY "Service role can manage all identities" ON "auth_logic"."letta_identities" USING (("auth"."role"() = 'service_role'::"text"));



CREATE POLICY "Super admins can manage user roles" ON "auth_logic"."user_roles" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."get_user_role"() "get_user_role"("role", "is_active", "granted_at")
  WHERE ("get_user_role"."role" = 'super_admin'::"public"."user_role"))));



CREATE POLICY "System can insert api usage" ON "auth_logic"."api_usage" FOR INSERT WITH CHECK ((("auth"."uid"() = "user_id") OR "auth_logic"."is_admin"()));



CREATE POLICY "System can insert deployment logs" ON "auth_logic"."deployment_logs" FOR INSERT WITH CHECK (((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "deployment_logs"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))) OR "auth_logic"."is_admin"()));



CREATE POLICY "System can insert health checks" ON "auth_logic"."health_checks" FOR INSERT WITH CHECK (((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "health_checks"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))) OR "auth_logic"."is_admin"()));



CREATE POLICY "Users can create trial applications" ON "auth_logic"."trial_applications" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert their own identity" ON "auth_logic"."letta_identities" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own agent deployments" ON "auth_logic"."agent_deployments" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own deployments" ON "auth_logic"."deployments" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own identities" ON "auth_logic"."letta_identities" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own railway projects" ON "auth_logic"."railway_projects" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own servers" ON "auth_logic"."mcp_servers" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own settings" ON "auth_logic"."user_settings" USING (("user_id" = "auth"."uid"())) WITH CHECK (("user_id" = "auth"."uid"()));



CREATE POLICY "Users can read own profile" ON "auth_logic"."user_profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can update own profile" ON "auth_logic"."user_profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Users can update their own identity" ON "auth_logic"."letta_identities" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view agents for their deployments" ON "auth_logic"."agent_deployments" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "agent_deployments"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view health checks for their deployments" ON "auth_logic"."health_checks" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "health_checks"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view logs for their deployments" ON "auth_logic"."deployment_logs" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "deployment_logs"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view own deployment configs" ON "auth_logic"."deployment_server_configs" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."deployments" "d"
  WHERE (("d"."id" = "deployment_server_configs"."deployment_id") AND ("d"."user_id" = "auth"."uid"())))));



CREATE POLICY "Users can view own deployment trials" ON "auth_logic"."deployment_trials" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own licenses" ON "auth_logic"."licenses" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own trial applications" ON "auth_logic"."trial_applications" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own api usage" ON "auth_logic"."api_usage" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own audit logs" ON "auth_logic"."admin_audit_log" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own deployments" ON "auth_logic"."deployments" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own identity" ON "auth_logic"."letta_identities" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own quotas" ON "auth_logic"."user_quotas" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own railway projects" ON "auth_logic"."railway_projects" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view their own roles" ON "auth_logic"."user_roles" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "auth_logic"."admin_audit_log" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."admin_permissions" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "admins_delete_forms" ON "auth_logic"."trial_form_configurations" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_delete_settings" ON "auth_logic"."trial_approval_settings" FOR DELETE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_insert_forms" ON "auth_logic"."trial_form_configurations" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_insert_settings" ON "auth_logic"."trial_approval_settings" FOR INSERT TO "authenticated" WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_read_all_forms" ON "auth_logic"."trial_form_configurations" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_update_forms" ON "auth_logic"."trial_form_configurations" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



CREATE POLICY "admins_update_settings" ON "auth_logic"."trial_approval_settings" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true))))) WITH CHECK ((EXISTS ( SELECT 1
   FROM "auth_logic"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND ("ur"."role" = ANY (ARRAY['admin'::"public"."user_role", 'super_admin'::"public"."user_role"])) AND ("ur"."is_active" = true)))));



ALTER TABLE "auth_logic"."agent_deployments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."api_usage" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "authenticated_users_read_active_forms" ON "auth_logic"."trial_form_configurations" FOR SELECT TO "authenticated" USING (("is_active" = true));



CREATE POLICY "authenticated_users_read_settings" ON "auth_logic"."trial_approval_settings" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "auth_logic"."deployment_logs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."deployment_server_configs" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."deployment_trials" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."deployments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."health_checks" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."letta_identities" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."licenses" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."mcp_servers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."railway_projects" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."role_permissions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."server_templates" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."trial_applications" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."trial_approval_settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."trial_form_configurations" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."user_profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."user_quotas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."user_roles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "auth_logic"."user_settings" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "auth_logic" TO "authenticated";
GRANT USAGE ON SCHEMA "auth_logic" TO "anon";
GRANT USAGE ON SCHEMA "auth_logic" TO "service_role";



GRANT ALL ON FUNCTION "auth_logic"."get_user_role"() TO "authenticated";



GRANT ALL ON FUNCTION "auth_logic"."has_permission"("permission_name" "text") TO "authenticated";



GRANT ALL ON FUNCTION "auth_logic"."is_admin"() TO "authenticated";



GRANT ALL ON FUNCTION "auth_logic"."uid"() TO "anon";
GRANT ALL ON FUNCTION "auth_logic"."uid"() TO "authenticated";
GRANT ALL ON FUNCTION "auth_logic"."uid"() TO "service_role";



GRANT ALL ON TABLE "auth_logic"."admin_audit_log" TO "anon";
GRANT ALL ON TABLE "auth_logic"."admin_audit_log" TO "authenticated";
GRANT ALL ON TABLE "auth_logic"."admin_audit_log" TO "service_role";



GRANT ALL ON TABLE "auth_logic"."admin_permissions" TO "anon";
GRANT ALL ON TABLE "auth_logic"."admin_permissions" TO "authenticated";
GRANT ALL ON TABLE "auth_logic"."admin_permissions" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."agent_deployments" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."agent_deployments" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."api_usage" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."api_usage" TO "authenticated";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_logs" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_logs" TO "authenticated";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_server_configs" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_server_configs" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_trials" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployment_trials" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployments" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployments" TO "authenticated";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployments_with_trial_status" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."deployments_with_trial_status" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."health_checks" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."health_checks" TO "authenticated";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."letta_identities" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."letta_identities" TO "service_role";
GRANT SELECT ON TABLE "auth_logic"."letta_identities" TO "anon";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."licenses" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."licenses" TO "service_role";



GRANT ALL ON TABLE "auth_logic"."mcp_servers" TO "anon";
GRANT ALL ON TABLE "auth_logic"."mcp_servers" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."mcp_servers" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."railway_projects" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."railway_projects" TO "authenticated";



GRANT ALL ON TABLE "auth_logic"."role_permissions" TO "anon";
GRANT ALL ON TABLE "auth_logic"."role_permissions" TO "authenticated";
GRANT ALL ON TABLE "auth_logic"."role_permissions" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."server_templates" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."server_templates" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_applications" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_applications" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_approval_settings" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_approval_settings" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_form_configurations" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_form_configurations" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_funnel_metrics" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."trial_funnel_metrics" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."user_profiles" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."user_profiles" TO "service_role";



GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."user_quotas" TO "service_role";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."user_quotas" TO "authenticated";



GRANT ALL ON TABLE "auth_logic"."user_roles" TO "anon";
GRANT ALL ON TABLE "auth_logic"."user_roles" TO "authenticated";
GRANT ALL ON TABLE "auth_logic"."user_roles" TO "service_role";



GRANT ALL ON TABLE "auth_logic"."user_settings" TO "authenticated";
GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE "auth_logic"."user_settings" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "auth_logic" GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "auth_logic" GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES  TO "service_role";



RESET ALL;
